<h1> {{title}}</h1>
{{#each alunos}}
    <ul>
        <li><b>Nome:</b>{{matricula}}</li>
        <li><b>Matricula:</b>{{nome}}</li>
        <li><b>Data de Nascimento:</b>{{data_nascimento}}</li>
        <li><b>Endereço de Email:</b>{{email}}</li>
    </ul>
{{/each}}