<h1> {{title}}</h1>
<table class="table table-primary">
    <thead class="thead-dark">
        <tr>
            <th scope="col">N°de Matrícula</th>
            <th scope="col">Nome do Aluno</th>
            <th scope="col">Situação</th>
            <th scope="col">Curso</th>
            <th scope="col">Editar </th>
            <th scope="col">Apagar</th>
        </tr>
    </thead>
    <tbody>
        {{#each alunos}}
            <tr>
                <th>{{matricula}}</th>
                <th><a href="/alunos/{{matricula}}">{{nome_aluno}}</a></th>
                <th>{{situacao}}</th>
                <th>{{descricao_curso}}</th>
                <td>
                    <a
                        class="btn btn-outline-secondary"
                        href="alunos/edit/{{matricula}}"
                        type="button"
                    >
                        <i class="bi bi-pencil-square"></i>
                    </a>

                    <td>
                        <a
                            class="btn btn-outline-secondary"
                            href="alunos/"
                            type="button"
                        >
                            <i class="bi bi-trash-fill"></i>
                        </a></td></td>
            </tr>
        {{/each}}
    </tbody>
</table>
<a class="btn btn-outline-secondary" href="alunos/new/" type="button">
    Novo aluno
    <i class="bi bi-person-add"></i>
</a>
<a href="/alunos/new"></a>